@model IEnumerable<DnDCharacterStorageApp.Models.Character>

@{
    ViewData["Title"] = "Index";
}

<h1>Characters</h1>

<!-- Search form -->
<div class="row">
    <div class="col-md-4">
        <form asp-action="ShowSearchResults">
            <div class="form-group">
                <label for="SearchPhrase" class="control-label"></label>
                <input name="SearchPhrase" class="form-control" value="@ViewBag.SearchPhrase" />
            </div>
            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-primary" />
                @if (!string.IsNullOrWhiteSpace((string)ViewBag.SearchPhrase))
                {
                    <a asp-action="Index" class="btn btn-secondary">Cancel Searching</a>
                }
            </div>
        </form>
    </div>
</div>
<!-- End of search form -->

<br />

<div class="row">
    @foreach (var item in Model) {
        <div class="col-sm-4">
            <a asp-action="Details" asp-route-id="@item.Id" class="text-decoration-none text-dark">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                        <p class="card-text">
                            Race: @Html.DisplayFor(modelItem => item.Race)<br />
                            Class: @Html.DisplayFor(modelItem => item.Class)<br/>
                            Level: @Html.DisplayFor(modelItem => item.Level)<br/>
                            <span class="cardusername">@Html.Raw(item.CreatedBy?.UserName)</span>
                        </p>
                    </div>
                </div>
            </a>
        </div>
    }
</div>

<div class="fixed-bottom text-center mb-3">
    <a asp-action="Create" class="btn btn-primary">New Character</a>
</div>